
<nav>
    <div class="nav-wrapper teal lighten-2">
      <a href="#!" class="brand-logo center">GlicoPal</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class=" list left hide-on-med-and-down">
        <li><a href="/logs/about">About</a></li>
      </ul>
      <ul class=" list right hide-on-med-and-down">

        <li><a href="/logs/new"><i class="large material-icons">add_box</i></a></li>
        <% if (currentUser) { %>
        <li class="left">Welcome <%= currentUser.username %> </li>
        <li>
          <form action="/sessions?_method=DELETE" method="POST">
            <input type="submit" value="Log Out" class="btn-small red" />
          </form>
        </li>
        <% } else { %>
        <li><a href="/users/new">Sign Up</a></li>
        <li><a href="/sessions/new">Log In</a></li>
        <% } %>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <%if(currentUser){ %>
    <li><a href="#">Welcome <%= currentUser.username %> </a></li>
    <% } else { %>
    <li><a href="#">Welcome</a></li>
    <% } %>  
    <li><a href="/logs/about">About</a></li>
    <li><a href="/logs/new">+ new log</a></li>
    <% if (currentUser) { %>

    <li>
      <form action="/sessions?_method=DELETE" method="POST">
        <input type="submit" value="Log Out" class="btn-small red" />
      </form>
    </li>
    <% } else { %>
    <li><a href="/users/new">Sign Up</a></li>
    <li><a href="/sessions/new">Log In</a></li>
    <% } %>

  </ul>

  <script type="text/javascript">

    $(document).ready(function(){
      $('.sidenav').sidenav();
    });

</script>
